$width: 20px;
$height: 20px;

:host {
  color: inherit;
  display: inline-block;
  width: $width;
  height: $height;

  svg {
    color: inherit;
    fill: currentColor;
    width: $width;
    height: $height;
  }
}
