.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

  &__link {
    color: #0e8ac5;
    font-size: 20px;
    text-decoration: none;
  }
}
