<div class="table" *ngIf="gameState; else contentPlaceholder">
  <div class="table__row" *ngFor="let tableRows of gameState; index as i">
    <div
      class="table__field"
      [ngClass]="getFieldClass(field.fieldStatus)"
      *ngFor="let field of tableRows.fields; index as j"
      (click)="selectField(i, j)"
    ></div>
  </div>
</div>

<ng-template #contentPlaceholder>
  <div class="table__row" *ngFor="let item of placholderArray()">
    <div class="placeholder table__field" *ngFor="let item2 of placholderArray()"></div>
  </div>
</ng-template>
